.edit-profile-form__button {
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 0;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity 200ms ease-in-out;
}

.edit-profile-form__button:hover {
  opacity: 0.8;
}
