.edit-profile-form__button {
  min-width: 358px;
  min-height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 0;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity 200ms ease-in-out;
}

.edit-profile-form__button:hover {
  opacity: 0.6;
  cursor: pointer
}

@media screen and (max-width:550px) {
  .edit-profile-form__button {
    min-width: calc(100% - 36px);
    min-height: 45px;
  }
}
