.popup__close-button {
  background-image: url(./close-icon.svg);
  background-color: transparent;
  border: none;
  height: 42px;
  width: 42px;
  transform: rotate(45deg);
  position: absolute;
  top: -38px;
  right: -39px;
}
