.edit-profile-form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 30px;
  margin-bottom: 30px;
  padding: 0 0 0 5px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.21;
  color: black;
}

.edit-profile-form__input:last-of-type {
  margin-bottom: 55px;
}

.edit-profile-form__input:focus {
  outline-color: rgba(0, 0, 0, 0.1);
}
